.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.kanban-board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 2px solid #ccc; /* Add a border around the kanban board */
  padding: 20px;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}/* GroupSelector.css */

.group-selector {
  display: flex;
  align-items: center;
}

.group-selector select {
  padding: 8px; /* Adjust padding for height */
  font-size: 14px; /* Adjust font size for text */
  margin-right: 12px; /* Adjust margin between dropdowns */
  margin-bottom: 12px;
  margin-top: 5px;
  margin-left: 12px;
  width: 150px; /* Adjust the width of the dropdown */
}


.icon{
  margin-left: 200px;
}
.dots-icon{
  margin-right: auto;
}